# Ignore node_modules in all subfolders
**/node_modules/

# Ignore dist/build output in all subfolders
**/dist-ssr/

# Ignore Vite cache folder wherever it appears
**/.vite/

# Ignore log files
*.log

# Ignore MacOS and editor specific files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.*